@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  * {
    font-family: 'Roboto'; 
  }

.maps > * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.maps {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.maps:active {
    cursor: grabbing;
    
}

body {
    background-color: #eeeeee;
    overflow: hidden; 
    
  }

  .stages {
    position: fixed;
    height: min-content;
    width: 50px;
    bottom: 5%;
    right: 2%;
    border-radius:  10px;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border: 3px;
  }

  .stages:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }


  .active-fbutton {
    width: 100%;
    height: 30px;
    background-color: #9575CD;
    color: white;
    text-align: center;
    position: relative;
    line-height: 30px;
    line-height: 30px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .fbutton {
    width: 100%;
    height: 30px;
    background-color: white;
    color: black;
    text-align: center;
    position: relative;
    line-height: 30px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: all 0.17s ease-in;
  }

  .fbutton:hover {
    cursor: pointer;
  }

  .fbutton:hover {
    background-color: #eeeeee;
  }



 .svg-icon {

    width: 100%; height: 70%;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
 }